<style>
  .row {
    background-color: rgb(149, 149, 214);
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h4 class="m-2">{{ titulo }}</h4>
    </div>
    <div class="col-sm-6">
      <lib-botao-adicionar></lib-botao-adicionar>
    </div>
  </div>
  <table class="table table-striped table-bordered">
    <thead>
      <tr class="text-center">
        <th scope="col">Nome</th>
        <th scope="col">E-mail</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let pessoa of pessoas">
        <td scope="row">{{ pessoa.nome }}</td>
        <td>{{ pessoa.email }}</td>
        <td class="text-center">
          <lib-icone-editar></lib-icone-editar>
          <lib-icone-visualizar></lib-icone-visualizar>
          <lib-icone-lixeira></lib-icone-lixeira>
        </td>
      </tr>
    </tbody>
  </table>
</div>
