<style>
  .row {
    background-color: rgb(149, 149, 214);
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h4 class="m-2">Titulo</h4>
    </div>
    <div class="col-sm-6">
      <lib-botao-adicionar></lib-botao-adicionar>
    </div>
  </div>
  <table class="table table-striped table-bordered">
    <thead>
      <tr class="text-center">
        <th scope="col">Nome</th>
        <th scope="col">Endereço</th>
        <th scope="col">Email</th>
        <th scope="col" class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">Thiago</td>
        <td>Rua mark</td>
        <td>Thiagodebarros12@gmail.com</td>
        <td class="text-center">
          <lib-icone-editar></lib-icone-editar>
          <lib-icone-visualizar></lib-icone-visualizar>
          <lib-icone-lixeira></lib-icone-lixeira>
        </td>
      </tr>
      <tr>
        <td scope="row">Marcos</td>
        <td>Rua polo</td>
        <td>Thiagodebarros12@gmail.com</td>
        <td class="text-center">
          <lib-icone-editar></lib-icone-editar>
          <lib-icone-visualizar></lib-icone-visualizar>
          <lib-icone-lixeira></lib-icone-lixeira>


        </td>
      </tr>
      <tr>
        <td scope="row">Cristiano</td>
        <td>Rua Muscle</td>
        <td>Thiagodebarros12@gmail.com</td>
        <td class="text-center">
          <lib-icone-editar></lib-icone-editar>
          <lib-icone-visualizar></lib-icone-visualizar>
          <lib-icone-lixeira></lib-icone-lixeira>


        </td>
      </tr>
    </tbody>
  </table>
</div>
